.detail-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    margin: 2rem;
  }
  
  .image-details {
    flex: 1;
    max-width: 100%;
    margin-top: 1rem;
  }
  
  .image-details h2 {
    font-size: 1.5rem;
    color: #313131;
    text-align: start;
  }
  
  .image-info img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
  }
  
  .fav-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .favorite-button-info {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .favorite-button-info img {
    width: 100%;
    height: auto;
  }
  
  .favorite-button-info:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  
  .fav-text {
    text-align: start;
    flex: 1;
  }
  
  .fav-text h2 {
    font-size: 1rem;
    margin-bottom: 0;
    text-align: start;
  }
  
  .info-text {
    margin-top: 1rem;
    text-align: start;
  }
  
  .summary-image {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .info {
    flex: 1;
    max-width: 600px;
    text-align: start;
  }
  
  .buttons-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
  }
  
  .button-info {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #313131;
    background: white;
    border: 2px solid black;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    margin-right: 1rem;
    border-radius: 3px;
    width: 140px;
    white-space: normal;
  }
  
  .button-info.active {
    background: linear-gradient(35deg, #494949, #313131);
    color: white;
  }
  
  .container-infos h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  
  .container-infos li,
  .container-infos h3 {
    line-height: 1.5;
    font-size: 1rem;
    text-align: start;
  }
  
  .container-infos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .container-infos li {
    margin-bottom: 1rem;
  }
  
  .container-infos li::before {
    content: none;
  }
  @media only screen and (max-width: 950px) {
    .image-details h2,
    .fav-text h2 {
      font-size: 1rem;
    }
  
    .button-info {
      font-size: 0.8rem;
      width: 120px;
    }
  
    .container-infos h2,
    .container-infos li,
    .container-infos h3 {
      font-size: 1rem;
    }
  }
  @media only screen and (max-width: 830px) {
    .detail-wrapper {
      flex-direction: column;
      align-items: center;
      text-align: start;
      margin: 0;
    }
  
    .fav-container h2 {
      font-size: 1rem;
    }
  
    .image-details {
      max-width: 100%;
    }
  
    .buttons-container {
      display: flex;
      justify-content: center;
      margin-left: 0;
      margin-top: 2rem;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .info {
      max-width: 90%;
    }
  }
  