.list{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}
.styledlink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 2rem;
    text-decoration: none;
    background: linear-gradient(35deg, #494949, #313131);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    transform: scale(0.8) ;
}
.styledlink h4{
    color: white;
    font-size: 0.8rem;
}
.styledlink svg{
    color: white;
    font-size: 1.5rem;
}

.styledlink.active {
    background: linear-gradient(to right, #f27121, #e94057);
}