.list{
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid rgba(180, 178, 178, 0.5)
}
.litsnavlink{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.logo img{
    width: 160px;
    height: 160px;
}
.styledlink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    text-decoration: none;
    width: 3rem;
    cursor: pointer;
    transform: scale(0.8) ;
}
.styledlink h4{
    margin-top: 8px;
    color: #393939;
    font-size: 0.8rem;
}
.styledlink svg{
    color: #393939;
    font-size: 1.5rem;
}

.styledlink.active {
    border-bottom: 2px solid #f27121;
}

@media only screen and (max-width: 560px) {
    .nalitsnavlinkv{
        display: none;
    }
    .styledlink{
        display: none;
    }
  }