/* Estilos padrão */
.footer {
    border-top: 1px solid rgba(39, 39, 39, 0.3);
    padding-top: 10px;
    width: 100%;
    background: #ebe7e7;
    text-align: center;
    padding: 20px;
  }
  
  .footer-p {
    color: black;
    margin-top: 6px;
    font-size: 14px;
  }
  
  .footer-h2 {
    color: black;
    margin-top: 6px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
  }
  
  /* Estilos para telas menores que 768px */
  @media screen and (max-width: 768px) {
    .footer {
      padding: 10px;
    }
  
    .footer-h2 {
      font-size: 16px;
      margin-left: 0;
    }
  }
  